.movies {}


.movies_sidebar {
    min-width: 250px;

    background-color: #141d29;

    border-right: 1px solid alpha(white, 0.10);
}

.movies_sidebar_header {
    padding: 1rem;
    border-bottom: 1px solid alpha(white, 0.10);
    color: alpha(white, 0.80);
    font-size: 24px;
    border-radius: 0;

}

.sidebar_nav_item {
    color: alpha(white, 0.80);
    background: none;
    padding: 0px 20px;
    font-size: 24px;
    border: none;
    border-radius: 0;
    min-height: 72px;
}

.sidebar_nav_item:hover {
    background-color: alpha(white, 0.08);
    color: white;
}

.sidebar_nav_item.active {
    background-color: #1a6496;
    color: white;
}

.movies_sidebar_nav {}

.movies_container {

    /* background-color: #1a2433; */
    padding: 1rem;
}


.grid_item_wrapper {}


.grid_item_button {
    padding: 0;
    border: none;
    border-radius: 8px;
    overflow: hidden;
    background: none;
}

.grid_item_button image {
    border-radius: 8px;
}

.grid_item_button:hover image {
    opacity: 0.8;
}

.grid_item_title {
    font-size: 13px;
    color: alpha(white, 0.85);
    padding: 0 2px;
}